<md-toolbar color="primary">
  <button md-icon-button [mdMenuTriggerFor]="menu">
    <md-icon>menu</md-icon>
  </button>
  <md-menu #menu="mdMenu">
    <a md-menu-item routerLink="/dashboard">
      <md-icon>dialpad</md-icon>
      <span>Dashboard</span>
    </a>
    <a md-menu-item routerLink="/heroes">
      <md-icon>voicemail</md-icon>
      <span>Heroes</span>
    </a>
    <a md-menu-item routerLink="/powers">
      <md-icon>power</md-icon>
      <span>Powers</span>
    </a>
  </md-menu>
<span class="title">{{title}}</span>
</md-toolbar>
<router-outlet></router-outlet>
