<md-slide-toggle [(ngModel)]="showHero">
  Show hero form
</md-slide-toggle>
<md-card *ngIf="showHero">
  <md-card-title>
    <h4>Add new hero</h4>
  </md-card-title>
  <form (ngSubmit)="onSubmit(heroForm.form.valid); heroForm.reset()" #heroForm="ngForm">
  <md-input-container>
    <input md-input
           [(ngModel)]="heroModel.name"
           name="name"
           placeholder="Hero name"
           #name="ngModel"
           required>
    <md-hint *ngIf="!name.valid && name.touched" class="error-message" align="start">Hero name required</md-hint>
  </md-input-container>
  <md-input-container>
    <input md-input
           [(ngModel)]="heroModel.alterEgo"
           name="alterEgo"
           placeholder="Alter Ego"
           >
  </md-input-container>
  <md-select placeholder="Power"
             [(ngModel)]="heroModel.power"
             name="power"
             required>
    <md-option *ngFor="let pow of powers" [value]="pow">
      {{ pow }}
    </md-option>
  </md-select>
    <br><br>
  <button type="submit"
          color="primary"
          md-mini-fab
          [disabled]="!heroForm.form.valid"
  ><md-icon>add</md-icon></button>
  </form>
</md-card>
<md-card>
  <md-card-header>
    <md-card-title><h2>My Heroes</h2></md-card-title>
  </md-card-header>
  <md-card-content>

  </md-card-content>
  <md-nav-list>
    <md-list-item
      *ngFor="let hero of heroes | async"
      [class.selected]="hero === selectedHero"
      (click)="onSelect(hero)">
      <span md-line>{{hero.name}}</span>
      <button color="warn"
              md-mini-fab
              (click)="deleteHero(hero);
              $event.stopPropagation()"><md-icon>delete</md-icon></button>
    </md-list-item>
  </md-nav-list>
</md-card>
<div *ngIf="selectedHero">
  <h2>
    {{selectedHero.name | uppercase}} is my hero
  </h2>
  <button md-raised-button color="primary" (click)="gotoDetail()">View Details</button>
</div>
