<md-card>
  <md-input-container>
    <input md-input color="warn" #heroName placeholder="Hero name:">
  </md-input-container>
  <button color="warn"
          md-mini-fab
          (click)="add(heroName.value); heroName.value=''"
  ><md-icon>add</md-icon></button>
</md-card>
<md-card>
  <md-card-header>
    <md-card-title><h2>My Heroes</h2></md-card-title>
  </md-card-header>
  <md-card-content>

  </md-card-content>
  <md-nav-list>
    <md-list-item
      *ngFor="let hero of heroes | async"
      [class.selected]="hero === selectedHero"
      (click)="onSelect(hero)">
      <span md-line>{{hero.name}}</span>
      <button color="warn"
              md-mini-fab
              (click)="deleteHero(hero);
              $event.stopPropagation()"><md-icon>delete</md-icon></button>
    </md-list-item>
  </md-nav-list>
</md-card>
<div *ngIf="selectedHero">
  <h2>
    {{selectedHero.name | uppercase}} is my hero
  </h2>
  <button md-raised-button color="primary" (click)="gotoDetail()">View Details</button>
</div>
