<md-card>
  <md-card-content>
    <h3>ADMIN</h3>
    <button md-icon-button [mdMenuTriggerFor]="menuAdmin">
      <md-icon>more_vert</md-icon>
    </button>
    <md-menu #menuAdmin="mdMenu">
      <a md-menu-item routerLink="./" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <span>Dashboard</span>
      </a>
      <a md-menu-item routerLink="./crises">
        <span>Manage Crises</span>
      </a>
      <a md-menu-item routerLink="./heroes">
        <span>Manage Heroes</span>
      </a>
    </md-menu>
    <router-outlet></router-outlet>
  </md-card-content>
</md-card>
