@import '~@angular/material/core/theming/prebuilt/pink-bluegrey';
body {
  background-color: #212121;
  color: moccasin;
}
.error-message {
  color: #E53935;
}
.main-loader {
  position: relative;
  margin: 150px auto;
  width: 150px;
}
